In [32]:
import pandas as pd

df = pd.read_csv("03_FreeFallData.csv")
df.drop(index=[0,11], inplace=True)
df

   Vert.dist. y/m      0.2      0.7      0.8      1.2      1.3      1.8
1               1  0.20188  0.37775  0.40391  0.49475  0.51501  0.60603
2               2  0.20197  0.37779  0.40397  0.49464  0.51491  0.60610
3               3  0.20193  0.37770  0.40391  0.49480  0.51496  0.60610
4               4  0.20193  0.37779  0.40386  0.49476  0.51495  0.60608
5               5  0.20194  0.37779  0.40381  0.49478  0.51492  0.60605
6               6  0.20181  0.37780  0.40386  0.49469  0.51495  0.60612
7               7  0.20181  0.37773  0.40390  0.49463  0.51507  0.60601
8               8  0.20196  0.37774  0.40391  0.49466  0.51494  0.60606
9               9  0.20195  0.37774  0.40389  0.49462  0.51506  0.60613
10             10  0.20182  0.37776  0.40380  0.49474  0.51506  0.60603

In [33]:
df.reset_index(inplace=True)
df

   index Vert.dist. y/m      0.2      0.7      0.8      1.2      1.3      1.8
0      1              1  0.20188  0.37775  0.40391  0.49475  0.51501  0.60603
1      2              2  0.20197  0.37779  0.40397  0.49464  0.51491  0.60610
2      3              3  0.20193  0.37770  0.40391  0.49480  0.51496  0.60610
3      4              4  0.20193  0.37779  0.40386  0.49476  0.51495  0.60608
4      5              5  0.20194  0.37779  0.40381  0.49478  0.51492  0.60605
5      6              6  0.20181  0.37780  0.40386  0.49469  0.51495  0.60612
6      7              7  0.20181  0.37773  0.40390  0.49463  0.51507  0.60601
7      8              8  0.20196  0.37774  0.40391  0.49466  0.51494  0.60606
8      9              9  0.20195  0.37774  0.40389  0.49462  0.51506  0.60613
9     10             10  0.20182  0.37776  0.40380  0.49474  0.51506  0.60603

In [34]:
df.drop(['index', 'Vert.dist. y/m'], axis=1)

       0.2      0.7      0.8      1.2      1.3      1.8
0  0.20188  0.37775  0.40391  0.49475  0.51501  0.60603
1  0.20197  0.37779  0.40397  0.49464  0.51491  0.60610
2  0.20193  0.37770  0.40391  0.49480  0.51496  0.60610
3  0.20193  0.37779  0.40386  0.49476  0.51495  0.60608
4  0.20194  0.37779  0.40381  0.49478  0.51492  0.60605
5  0.20181  0.37780  0.40386  0.49469  0.51495  0.60612
6  0.20181  0.37773  0.40390  0.49463  0.51507  0.60601
7  0.20196  0.37774  0.40391  0.49466  0.51494  0.60606
8  0.20195  0.37774  0.40389  0.49462  0.51506  0.60613
9  0.20182  0.37776  0.40380  0.49474  0.51506  0.60603